body {
	background: #e6e6e6;
	font-size: 18px;
	overflow-x: hidden;
}

a {
	color: #548dd4;
	text-decoration: none !important;
	-webkit-transition: color .3s ease-out;
	transition: color .3s ease-out;
}

a:hover {
	color: #92cddc;
}

a:visited {
	color: #ad5b8e;
}

h1 {
	font-family: 'Eczar', serif;
	font-size: 3em;
	line-height: 90%;
	margin: 2% auto;
}

input, button {
	outline: none !important;
}

input, title {
  color: #fff;
}

input {
	background: #000;
	border: 6px outset #ccc;
	border-radius: 12px;
	-webkit-box-shadow: 0 12px 12px 0 rgba(100, 100, 220, 0.7);
	        box-shadow: 0 12px 12px 0 rgba(100, 100, 220, 0.7);
	font-family: 'Bitter', monospace;
	padding: .4em .3em .2em .3em;
	width: 7.2em;
	min-width: 7.2em;
	max-width: 18em;
	-webkit-transition: background .5s, color .5s, width .5s ease-out;
	transition: background .5s, color .5s, width .5s ease-out;
}

input:disabled {
  background: #333;
  color: #bbb;
}

input:focus {
	width: 16em !important;
}

.main {
	max-width: 800px;
	text-align: center;
}

.results {
	font-family: monospace;
	font-size: .8em;
	margin: 2em auto;
	text-align: left;
	word-wrap: break-word;
}

.entry {
	background: #000;
	-webkit-box-shadow: 0 12px 30px 25px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 12px 30px 25px rgba(0, 0, 0, 0.2);
	margin: .5em;
	padding: .5em 1em;
}

.title {
	font-size: 1.4em;
}

.info {
	color: #ccc;
	-webkit-transition: color .5s, text-shadow 2s;
	transition: color .5s, text-shadow 2s;
}

.info:hover {
	color: #eee;
	text-shadow: 0 0 5px rgba(100, 255, 255, .3);
}

.random .btn {
	border-radius: 30px 10px 10px 30px;
	border-width: 3px;
	-webkit-box-shadow: 0 0 30px 5px rgba(100, 100, 220, 0.7);
	        box-shadow: 0 0 30px 5px rgba(100, 100, 220, 0.7);
	padding: 5px;
	position: fixed;
	bottom: 10px;
	right: 5px;
	-webkit-transition: -webkit-box-shadow .5s;
	transition: -webkit-box-shadow .5s;
	transition: box-shadow .5s;
	transition: box-shadow .5s, -webkit-box-shadow .5s;
}

.random .btn:hover {
	-webkit-box-shadow: 0 0 40px 10px rgba(0, 100, 150, 0.8);
	        box-shadow: 0 0 40px 10px rgba(0, 100, 150, 0.8);
}

